bottle==0.13.4
bottle-websocket==0.2.9
Eel==0.18.2
future==1.0.0
gevent==25.9.1
gevent-websocket==0.10.1
greenlet==3.3.2
importlib_resources==6.5.2
pyparsing==3.3.2
typing_extensions==4.15.0
zope.event==6.1
zope.interface==8.2
